/* CSS Document */
/*****************/
input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #333;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}
input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    //background-color: #FFCC33;
    border-color: #333;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}
input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 2px solid #333;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}
/*****************/
.errorbox{
	background: #cc0033 !important;
  	color: #fff !important;
	display: inline-block;
	margin-bottom:10px;
	border-radius:5px;
	padding:15px 20px;
	font-size:16px;
	text-align:center;
}
.successbox{
	background-color:#ffcc33 !important;
  	color: #000 !important;
	display: inline-block;
	margin-bottom:10px;
	padding:15px 20px;
	border-radius:5px;
	font-size:16px;
	text-align:center;
}
.page-container .page-sidebar.page-sidebar-fixed{
	background: #33414e;
}
.x-navigation.x-navigation-horizontal {
    height: 50px;
    background: #3385d9;
}
.x-navigation > li.xn-logo > a:first-child {
    background: url(../img/logo.png) top center no-repeat #3385d9;
    height: 50px;
}
.x-navigation > li.xn-logo > a:first-child:hover {
    background-color: #3385d9;
}
.x-navigation.x-navigation-horizontal > li > a:hover {
    background: #2d74be;
}
.x-navigation.x-navigation-horizontal > li > a:hover .fa{
	color: #fff;
}
.x-navigation li > a{
	font-size: 15px;
}
.x-navigation li > ul li > a{
	font-size: 14px;
}
.x-navigation li.active > a .fa, .x-navigation li.active > a .glyphicon {
    color: #3385d9;
}
.x-navigation li > a:hover .fa, .x-navigation li > a:hover .glyphicon {
    color: #3385d9;
}
.page-container .page-content{
	background: #fff!important;
}
#staff .panel{
	box-shadow: 0px 10px 10px rgba(0,0,0,0.10);
    border-radius: 0px;	
}
#client .panel{
	box-shadow: 0px 10px 10px rgba(0,0,0,0.10);
    border-radius: 0px;	
}
#salesinvoice .panel{
	box-shadow: 0px 10px 10px rgba(0,0,0,0.10);
    border-radius: 0px;	
}
.panel-heading{
	background: #3385d9;
}
.input-group-addon {
    border-color: #3385d9;
    background-color: #3385d9;
    font-size: 13px;
    padding: 0px 10px;
    line-height: 31px;
    color: #FFF;
    text-align: center;
    min-width: 36px;
}
.form-group label{
    font-weight: 400;
    font-size: 17px;
}
div.datepicker td.active, div.datepicker td.active:hover {
    background: #3385d9;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
div.datepicker td, div.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.05);
}
div.datepicker thead tr:first-child th{
	background: #3385d9;
    color: #fff;
}
div.datepicker thead tr:first-child th:hover{
	background: #2d74be;
}
/*******Time Picker*******/
.bootstrap-timepicker-widget table td a {
    background: #3385d9;
    border-radius: 5px;
}
.bootstrap-timepicker-widget table td a i{
	color: #fff;
	font-size: 14px;
}
.bootstrap-timepicker-widget table td a:hover{
	background: #333;
}
/*******Time Picker*******/
.panel .panel-title{
	
}
.page-title {
    padding: 5px 10px 5px 0px;
    background: #fff;
}
.breadcrumb {
    padding: 6px 25px 7px 20px;
    margin: 0px;
}
.dataTable{
	border-radius: 5px;
	overflow:  hidden;
}
.table > thead > tr > th {
    background: #3385d9;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    padding: 15px 15px;
}
.table > tbody > tr > td{
	font-size: 14px;
	padding: 8px 8px 8px 13px;	
}
.dataTables_length select {
    width: 70px;
    display: inline;
    margin: 0px 5px;
    font-size: 15px;
    font-weight: 600;
}
.dataTables_filter label input {
    width: 150px;
    display: inline;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 600;
}
.sorting:before, 
.sorting_desc:before, 
.sorting_asc:before{
	top: 15px;
	right: 10px;
}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover {
    background: #3385d9;
    color: #FFF;
    border-color: #3385d9;
}
.form-horizontal .control-label {
    line-height: 30px;
    padding-top: 0px;
    color: #3385d9;
    font-size: 17px;
    font-weight: 600;
}
.btn-info {
    background-color: #3385d9!important;
    border-color: #3385d9!important;
}
.btn-success {
    background-color: #4caf50!important;
    border-color: #4caf50!important;
}
.btn-danger {
    background-color: #ef5350!important;
    border-color: #ef5350!important;
}
.entry-table tr td{
	padding:0px!important;
}
.entry-table tr td .form-control{
	border: 1px solid rgba(0,0,0,0.10);
    padding: 6px;
	border-radius: 0px;
}
.entry-table tr td .form-control.select{
	padding: 0px;
}
.entry-table tr td .form-control.select .dropdown-toggle{
	border-radius: 0px;
}

.priority-low{
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #c1c1c1;
}

.priority-medium{
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #FF6600;
}

.priority-high{
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #FF0000;
}

.iner-th{
	background: #33414e!important;
	//text-align: center;	
	color:#FFFFFF;
	font-size:18px;
	font-weight:600;
}